deb http://ppa.launchpad.net/pmjdebruijn/darktable-release/{{ansible_lsb.id|lower}} {{ansible_lsb.codename|lower}} main 
deb-src http://ppa.launchpad.net/pmjdebruijn/darktable-release/{{ansible_lsb.id|lower}} {{ansible_lsb.codename|lower}} main 
